Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
examples/Makefile
examples/Makefile.in
examples/aclocal.m4
examples/autom4te.cache/
examples/cap-728705/Makefile
examples/cap-728705/Makefile.in
examples/cap-728705/cap-728705
examples/cap-728705/cap_728705-cap-728705.o
examples/config.h
examples/config.h.in
examples/config.log
examples/config.status
examples/configure
examples/libtool
examples/m4/libtool.m4
examples/m4/ltoptions.m4
examples/m4/ltsugar.m4
examples/m4/ltversion.m4
examples/m4/lt~obsolete.m4
examples/stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.libs/
src/Makefile
src/Makefile.in
src/dso-728705.lo
src/dso-728705.o
src/libtenma.la
src/libtenma.pc
stamp-h1

